

#N
clk_i
rst_ni
boot_select_i
execute_from_flash_i
jtag_tck_i
jtag_tms_i
jtag_trst_ni
jtag_tdi_i
jtag_tdo_o
uart_rx_i
uart_tx_o
exit_valid_o
ddr_rcv_clk_i
ddr_snd_clk_o
gpio_0_i
gpio_0_oe
gpio_0_o

hart_id_i\[.*
xheep_instance_id_i\[.*

intr_vector_ext_i\[.*
intr_ext_peripheral_i.*

ext_xbar_master_req_i\[.*
ext_xbar_master_resp_o\[.*

ext_core_instr_req_o\[.*
ext_core_instr_resp_i\[.*
ext_core_data_req_o\[.*
ext_core_data_resp_i\[.*
ext_debug_master_req_o\[.*
ext_debug_master_resp_i\[.*

#W
gpio_1_i
gpio_1_oe
gpio_1_o
gpio_2_i
gpio_2_oe
gpio_2_o
gpio_3_i
gpio_3_oe
gpio_3_o
gpio_4_i
gpio_4_oe
gpio_4_o
gpio_5_i
gpio_5_oe
gpio_5_o
gpio_6_i
gpio_6_oe
gpio_6_o
gpio_7_i
gpio_7_oe
gpio_7_o
gpio_8_i
gpio_8_oe
gpio_8_o
gpio_9_i
gpio_9_oe
gpio_9_o
gpio_10_i
gpio_10_oe
gpio_10_o
gpio_11_i
gpio_11_oe
gpio_11_o
gpio_12_i
gpio_12_oe
gpio_12_o
gpio_13_i
gpio_13_oe
gpio_13_o
spi_flash_sck_i
spi_flash_sck_oe
spi_flash_sck_o
spi_flash_cs_0_i
spi_flash_cs_0_oe
spi_flash_cs_0_o

ext_dma_read_req_o\[.*
ext_dma_read_resp_i\[.*
ext_dma_write_req_o\[.*
ext_dma_write_resp_i\[.*
ext_dma_addr_req_o\[.*
ext_dma_addr_resp_i\[.*

hw_fifo_req_o\[.*
hw_fifo_resp_i\[.*

ext_ao_peripheral_req_i\[.*
ext_ao_peripheral_resp_o\[.*

ext_peripheral_slave_req_o\[.*
ext_peripheral_slave_resp_i\[.*

#S
spi_flash_cs_1_i
spi_flash_cs_1_oe
spi_flash_cs_1_o
spi_flash_sd_0_i
spi_flash_sd_0_oe
spi_flash_sd_0_o
spi_flash_sd_1_i
spi_flash_sd_1_oe
spi_flash_sd_1_o
spi_flash_sd_2_i
spi_flash_sd_2_oe
spi_flash_sd_2_o
spi_flash_sd_3_i
spi_flash_sd_3_oe
spi_flash_sd_3_o
spi_sck_i
spi_sck_oe
spi_sck_o
spi_cs_0_i
spi_cs_0_oe
spi_cs_0_o
spi_cs_1_i
spi_cs_1_oe
spi_cs_1_o
spi_sd_0_i
spi_sd_0_oe
spi_sd_0_o
spi_sd_1_i
spi_sd_1_oe
spi_sd_1_o
spi_sd_2_i
spi_sd_2_oe
spi_sd_2_o
spi_sd_3_i
spi_sd_3_oe
spi_sd_3_o
spi_slave_sck_i
spi_slave_sck_oe
spi_slave_sck_o
spi_slave_cs_i
spi_slave_cs_oe
spi_slave_cs_o
spi_slave_miso_i
spi_slave_miso_oe
spi_slave_miso_o

cpu_subsystem_powergate_switch_no.*
cpu_subsystem_powergate_switch_ack_ni.*
peripheral_subsystem_powergate_switch_no.*
peripheral_subsystem_powergate_switch_ack_ni.*

external_subsystem_powergate_switch_no.*
external_subsystem_powergate_switch_ack_ni.*
external_subsystem_powergate_iso_no.*
external_subsystem_rst_no.*
external_ram_banks_set_retentive_no.*
external_subsystem_clkgate_en_no.*

exit_value_o\[.*

ext_dma_slot_tx_i\[.*
ext_dma_slot_rx_i\[.*
ext_dma_stop_i\[.*
hw_fifo_done_i\[.*

#E
spi_slave_mosi_i
spi_slave_mosi_oe
spi_slave_mosi_o
pdm2pcm_pdm_i
pdm2pcm_pdm_oe
pdm2pcm_pdm_o
pdm2pcm_clk_i
pdm2pcm_clk_oe
pdm2pcm_clk_o
i2s_sck_i
i2s_sck_oe
i2s_sck_o
i2s_ws_i
i2s_ws_oe
i2s_ws_o
i2s_sd_i
i2s_sd_oe
i2s_sd_o
spi2_cs_0_i
spi2_cs_0_oe
spi2_cs_0_o
spi2_cs_1_i
spi2_cs_1_oe
spi2_cs_1_o
spi2_sck_i
spi2_sck_oe
spi2_sck_o
spi2_sd_0_i
spi2_sd_0_oe
spi2_sd_0_o
spi2_sd_1_i
spi2_sd_1_oe
spi2_sd_1_o
spi2_sd_2_i
spi2_sd_2_oe
spi2_sd_2_o
spi2_sd_3_i
spi2_sd_3_oe
spi2_sd_3_o
i2c_scl_i
i2c_scl_oe
i2c_scl_o
i2c_sda_i
i2c_sda_oe
i2c_sda_o

xif_compressed_valid.*
xif_compressed_ready.*
xif_compressed_req\[.*
xif_compressed_resp\[.*

xif_issue_valid.*
xif_issue_ready.*
xif_issue_req\[.*
xif_issue_resp\[.*

xif_commit_valid.*
xif_commit\[.*

xif_mem_valid.*
xif_mem_ready.*
xif_mem_req\[.*
xif_mem_resp\[.*

xif_mem_result_valid.*
xif_mem_result\[.*

xif_result_valid.*
xif_result_ready.*
xif_result\[.*

dma_done_o\[.*
